# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
title:  说传
subtitle: 优雅的学习
name: 说传
email: 864350301@qq.com
description: 本站是说传的技术分享博客。内容涵盖生活故事、Java后端技术、Spring Boot、Spring Cloud、微服务架构、大数据演进、高可用架构、中间件使用、系统监控等相关的研究与知识分享。
keywords: guojun49,说传,Spring,Spring Boot,Spring Cloud,MongoDB,Jvm,Docker,生活故事,架构,大数据,一线,FastDFS,开发者,编程,代码,开源,IT网站,Developer,Programmer,Coder,Geek,IT技术博客,Java,Python,
encoding: "utf-8"
favicon: favicon.ico

repository: guojun49/guojun49.github.io
github_url: https://github.com/guojun49
url: https://guojun49.github.io
enforce_ssl: guojun49.com

## Gem
plugins:
  - jekyll-paginate
  - jekyll-geo-pattern
  - rouge
  - kramdown
  - jekyll-github-metadata
  - jekyll-octicons
  
# Build settings
markdown: kramdown
highlighter: rouge
lsi:         false
excerpt_separator: "\n\n"

source:      .
destination: ./_site

quiet:    false
defaults: []

kramdown:
  input: GFM
  enable_coderay: true
  syntax_highlighter: rouge

syntax_highlighter_opts:
   coderay_line_numbers:  nil

# Pagination
paginate: 12
paginate_path: 'page:num'

# Navigation. top menu list
#menus:
#
#  -
#    href: /zsxq.html
#    label: 星球
#    target: _self
#
#  -
#    href: /gitchat.html
#    label: Chat
#    target: _self
#
#  -
#    href: /geektime.html
#    label: 极客
#    target: _self
#
#  -
#    href: /life.html
#    label: 故事
#    target: _self
#
#  -
#    href: /arch.html
#    label: 架构
#    target: _self
#
#  -
#    href: /link.html
#    label: 友链
#    target: _self



# Navigation. main menu list
navs:

  -
    href: /
    label: Home

  -
    href: /spring-boot.html
    label: Spring Boot
    target: _self
    subnav:

      -
        subHref: /spring-boot.html
        subLabel: Spring Boot

      -
        subHref: /spring-cloud.html
        subLabel: Spring Cloud

  -
    
    href: /spring-cloud.html
    label: Spring Cloud
    target: _self

  -
   href: /java.html
   label: Java
   target: _self
   subnav:

     - subHref: /java.html
       subLabel: Java

     - subHref: /life.html
       subLabel: Life

     - subHref: /idea.html
       subLabel: Idea

     - subHref: /tomcat.html
       subLabel: Tomcat

     - subHref: /docker.html
       subLabel: Docker

     - subHref: /git.html
       subLabel: Git

     - subHref: /life.html
       subLabel: Life

  -
    href: /archives.html
    label: Archives
    target: _self

  -
    href: /about.html
    label: About
    target: _self


# labels. my blog key words
labels:

  -
    href: /payment.html
    label: 支付     
    target: _self

  -
    href: /fastdfs.html
    label: FastDFS
    target: _blank

  -
    href: /mongodb.html
    label: MongoDB
    target: _blank

  -
    href: /docker.html
    label: Docker
    target: _blank

  -
    href: /open-source.html
    label: Code  
    target: _blank

  -
    href: /it.html
    label: IT 
    target: _blank

  -
    href: /python.html
    label: Python  
    target: _blank


# selected articles
classes:

  -
    href: /life.html
    name: 我的故事
    describe: 生活就是故事，故事就是生活

  -
    href: /arch.html
    name: 架构师之路
    describe: 一个架构师的自我修养

  -
    href: /java.html
    name: Java 系列文章
    describe: Java 之根基，Java 程序员必学


# ---------------- #
#       RSS        #
# ---------------- #
subscribe_rss: /feed.xml

# Sidebar to show popular repo
side_bar_repo_limit: 6 # Number of repos to show

# Google Analytics
# analytics :
# provider : google
#   google :
#     tracking_id : ''  # ex. UA-72165600-X


# For about.html. Fell free to create your own!
skill_software_keywords: [Java, MySQL, Oracle, Design Patterns]
skill_j2ee_keywords: [Spring, Struct, Hibernet, MyBatis, JSP]
skill_web_keywords: [HTML, CSS, JS, JQuery, Ajax, NodeJS, ExpressJS, MongoDB, Redis, PHP,  Boostrap]
skill_mobile_app_keywords: [vuejs, hyhird app]


# ---------------- #
#      Comments    #
# ---------------- #
# support provider: disqus, gitment, gitalk
comments_provider: gitalk
# !!!重要!!! 请修改下面这些信息为你自己申请的
# !!!Important!!! Please modify infos below to yours
# https://disqus.com
disqus:
    username: guojun49
# https://imsun.net/posts/gitment-introduction/
gitment:
    owner: guojun49
    repo: blog-comments
    oauth:
        client_id: 1f6579a065a465668ce6
        client_secret: ab53dbe57ab80670a13fd3a0c9ed3a173b432e44
# https://github.com/gitalk/gitalk#install
gitalk:
    owner: guojun49
    repo: blog-comments
    clientID: 1f6579a065a465668ce6
    clientSecret: ab53dbe57ab80670a13fd3a0c9ed3a173b432e44
# 在使用其它评论组件时可点击显示 Disqus
lazy_load_disqus : true
