<div class="about row">
    <div class="col-md-12">
       <h2>About me </h2>
        <br/>
        <p>我是一个什么样的人？有时候我也会这样问我自己。</p>
        <p>至少现在还是一名程序员，不管再忙还在坚持搬砖。</p>
        <p>喜欢分享，刚开始分享技术，后来也分享生活和故事。</p>
        <p>我是一名杭漂，和大多数杭漂一样，为了生计而奔波，早上坐一个多小时地铁，加班很频繁，有时候也会怀疑生活是为了啥？</p>
        <p>自从写博客之后我的生活改变很大，以前常常户外活动，现在一年出去两三次。</p>
        <p>我喜欢交朋友，认识很多人，真实情况是，杭漂的朋友都很少，有几个好哥们，一年见四五次都跟中彩票一样。</p>
        <p>最喜欢读的一本书是《平凡的世界》，平凡的人生，不平凡的精神。</p>
        <p>希望有一天可以赚很多的钱，去干够风骚有意义的事情。</p>
        <p>我是GuoJun，一个仍然在路上，向往自由和梦想的人！</p>


        <p><strong>About name</strong></p>

        <p>一个传说</p>



        <h2>Contact</h2>

        <p><strong>Personal</strong></p>
        <ul>
            <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li>我的微信：<strong>布</strong>（备注：博客）</li>
        </ul>


       <h2>
         Note
       </h2>

        <p>
         自从写博客开始，开始陆续有一些机会和同行在线上交流，但是也遇到了一些困惑，有的朋友加我之后，直接就抛出一堆错误日志，有的上来默不作声，有的更是质疑不断... 当然更多的是一些友善、有乐趣的朋友。
       </p>

        <p> 大家的时间都很宝贵，为了更高效的交流，我希望您可以这样</p>

       <ul>
         <li>请先自我介绍一下，您在那家公司，做什么工作，怎么称呼？希望和您交流什么？任何深入的交流都是建立在相互了解之上。
        </li>
        <li>如果是您的项目报错这类问题，我真的爱莫能助，大部分的情况错误信息都是需要根据本项目或者业务去调试的，仅有很少的一部分通过日志就可以定位到问题，当然这种错误网上应该都会有解决方案。
        </li>
         <li>如果您想和我交流框架、性能优化这种大问题，因为太大我不知道从何说起，比如：上来就问 Spring Boot/Hadoop 并发量支持多少的这类问题，真对不起，本人才疏学浅真的爱莫能助，问题越具体交流越有效。
        </li>
        <li> 我不一定能及时回复您，加我之后有问题尽请直说，不用问“在吗”之类的问题，当我闲下来的时候，每个人的留言，我都会尽量去回复。
        </li>
        <li> 
          欢迎转载，请在文章页面明显位置给出原文连接，否则保留追究法律责任的权利；</a>，谢谢。
        </li>
      </ul>

       <p>
        最后，还是感谢您在茫茫人海中阅读了我的文章。
       </p>


       <h2>
         Donate
       </h2>

       <p>本站所有文章和源码均免费开放，您如果喜欢可以赞助，赞助仅表示对文章的赞赏与支持，并不会受到特殊的待遇。如果我的文章帮助或者触动了你，可以自愿赞赏我6.66元吃一个肉夹膜:)
       </p>

       <p align="center">
         <img src="/assets/images/tip.png" />
         <br/> 
         微信扫一扫
       </p>

        <!-- Comments -->
       <div class="comment">
         {% include comments.html %}
       </div> 

    </div>
</div>